.dashWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 85%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #0a64bf;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #0a64bf;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

@media screen and (max-width: 1200px) and (min-width: 768px){
   .hiddenRows{
       display: none;
   }
}
@media screen and (max-width: 767px) and (min-width: 250px){
    .hiddenRows{
        display: none;
    }
}
