.startCourseButton{
    border: 1px solid purple;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--textTitle);
}
.startCourseButton:hover{
    background: purple;
    color: white;
}
.shareCourseButton{
    background: #fbdf00;
    padding: 10px;
    border: none;
    border-radius: 6px;
    color: var(--textTitle);
}
.greenMessage{
    color: #567b26;
}
.shareError{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    margin-top: 50px;
}
.buttonLink{
    padding: 10px;
    color: var(--textTitle);
    background: #fbdf00;
    border-radius: 6px;
    cursor: pointer;
}
.textAdmin{
    font-size: 30px;
    text-align: center;
}

@media screen and (max-width: 1200px) and (min-width: 768px){
    .shareCourseButton{
        font-size: 14px;
        text-align: center;
        padding: 5px 20px ;
    }
    .actionOrder{
        column-gap: 12px;
    }
    .startCourseButton{
        font-size: 14px;
        text-align: center;
        padding: 5px 20px ;
    }

}
@media screen and (max-width: 767px) and (min-width: 250px){
    .shareCourseButton{
        font-size: 14px;
        text-align: center;
        padding: 5px 20px ;
    }
    .startCourseButton{
        font-size: 14px;
        text-align: center;
        padding: 5px 20px ;
    }
    .actionOrder{
        column-gap: 12px;
    }
}
